* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.weatherLocationComponent {
  width: calc(100% - 20px);
  min-width: 350px;
  margin: 15px 10px;
  box-sizing: border-box;
  padding: 25px;
  box-shadow: 10px 10px 40px -12px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.locationComponent {
  width: 100%;
  height: 35px;
  text-align: left;
  color: #888;
  line-height: 35px;
  overflow: hidden;
}
.locationComponent h1 {
  margin: 0;
  white-space: nowrap;
}
